In [240]:
import requests
from bs4 import BeautifulSoup  
import concurrent.futures
import re
import pandas as pd

In [241]:
books_info = []

In [242]:
def get_URL(total_pages):
    main_url = "http://books.toscrape.com/catalogue/page-"
    links = [ main_url+"{}.html".format(n) for n in range(1,total_pages+1)]
    return links

In [243]:
def scrape_page(URL):
    r = requests.get(URL)
    soup = BeautifulSoup(r.content)
    
    prices = soup.find_all("p", attrs={'class':'price_color'})
    stock_availability = soup.find_all("p", attrs={'class':'availability'})
    titles = soup.find_all('h3')
    ratings = soup.find_all('p', attrs={'class': re.compile('star-rating')})
    
    for n in range(0,len(prices)):
        row = {'title': titles[n].text,
            'price': price[n].string,
            'stock': stock_availability[n].text,
            'rating': ratings[n]['class'][1]
          }
        books_info.append(row)

In [244]:
def scrape_all(total_pages):
    
    links = get_URL(total_pages)
    
    with concurrent.futures.ThreadPoolExecutor(max_workers=total_pages) as executor:
        executor.map(scrape_page, links)

In [245]:
total_pages = 50

scrape_all(total_pages)

books_df = pd.DataFrame(books_info, columns = ['title','price','stock','rating'])

In [246]:
books_df.head()

,title,price,stock,rating
0,Immunity: How Elie Metchnikoff ...,£51.77,\n\n \n In stock\n \n,Five
1,"I Hate Fairyland, Vol. ...",£53.74,\n\n \n In stock\n \n,Two
2,I am a Hero ...,£50.10,\n\n \n In stock\n \n,Three
3,How to Be Miserable: ...,£47.82,\n\n \n In stock\n \n,One
4,Her Backup Boyfriend (The ...,£54.23,\n\n \n In stock\n \n,One

In [247]:
#Corregimos algunos aspectos del dataset
def get_price(row):
    return row['price'][1:]

def get_stock(row):
    stock_words = row['stock'].split()
    return " ".join(stock_words)

books_df['price'] = books_df.apply(lambda x : get_price(x), axis=1)

books_df['stock'] = books_df.apply(lambda x : get_stock(x), axis=1)

In [248]:
books_df.head()

                                title  price     stock rating
0  Immunity: How Elie Metchnikoff ...  51.77  In stock   Five
1          I Hate Fairyland, Vol. ...  53.74  In stock    Two
2                     I am a Hero ...  50.10  In stock  Three
3            How to Be Miserable: ...  47.82  In stock    One
4       Her Backup Boyfriend (The ...  54.23  In stock    One